{% extends 'home/base.html' %}

{% block title %}
Select Match
{% endblock %}

{% block body %}
<h1 align='center'>Select Match</h1>
<br/>
<form action="{% url 'team:index' %}" method='post' align='center'>
	{% csrf_token %}
	<table align='center'>
		<col width='150'>
		<col width='300'>
		<tr align='left'>
			<th>
				<label>Match:</label>
			</th>
			<td>
				<select name="match">
					<option value='1'>Blitzkrieg v/s Redhawks (Freezes @ 8 A.M. on 17 March)</option>
					<option value='2'>Spartans v/s Strikers (Freezes @ 1 P.M. on 17 March)</option>
				</select>
			</td>
		</tr>
	</table>
	<br/>
	<input type='submit' value='Select Match'>
</form>
{% endblock %}