{% extends 'home/base.html' %}

{% block title %}
Create Team
{% endblock %}

{% block body %}
<h1 align='center'>Create Team</h1>
<br/><br/>
<h2 align='center'>Rules</h2>
<br/>
<h4>1. Zeheri Team should consist of atleast 3 Batsmen, 3 Bowler, 1 Wicket-Keeper and 1 All-Rounder</h4>
<h4>2. Overall venom shouldn't exceed 1100 ml</h4>
<h4>3. Atleast 2 UG Freshers and 1 PG student</h4>
<h4>4. 11 Players are to be selected</h4>
<h4>5. 1 Player will be selected as Black Mamba player</h4>
<h4>6. 20 number of substitutions are allowed in the entire league</h4>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;6.1. The number of changes between two freezed teams will be counted as substitutions</h4>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;6.2. UG Fresher replaced with UG Fresher will not be counted as substitution</h4>
<br/>
<form action="{% url 'team:teamAddIndex' %}" align='center'>
    <input type="submit" value="Generate Team"/>
</form>
{% endblock %}