{% extends 'home/base.html' %}

{% block title %}
Update Player
{% endblock %}

{% block body %}
<h1 align='center'>Update Player</h1>
<br/>
<form action="{% url 'team:playerUpdate' %}" method='post' align='center'>
	{% csrf_token %}
	<table align='center'>
		<col width='150'>
		<col width='350'>
		<tr align='left'>
			<th>
				<label>Squad:</label>
			</th>
			<td>
				<select name="squad" required id="id_squad">
					<option value="">---------</option>
  					{% for s in squads %}
						<option value='{{ s }}'>{{ s }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr align='left'>
			<th>
				<label>Player:</label>
			</th>
			<td>
				<select name="player" required id="id_player">
  					<option value="" selected>---------</option>
				</select>
			</td>
		</tr>
	</table>
	<br/>
	<input type='submit' value='Update Player'>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
	$('#id_squad').change(function () {
		var url = "{% url 'team:loadPlayer' %}";
		var squad = $(this).val();

		$.ajax({
			url: url,
			data: {
				'squad' : squad
			},
			success: function (data){
				$('#id_player').html(data);
			}
		});
	});
</script>
{% endblock %}