{% extends 'home/base.html' %}

{% block title %}
Users | Zeheri League
{% endblock %}

{% block addition %}
{% if perms.net.can_add_player %}
<li class=''>
	<a href="{% url 'leaderboard:matchNumber' %}">
		<span class='glyphicon glyphicon-plus' aria-hidden='true'></span>
		&nbsp; Give Points
	</a>
</li>
<li class=''>
	<a href="{% url 'leaderboard:substitutes' %}">
		<span class='glyphicon glyphicon-plus' aria-hidden='true'></span>
		&nbsp; Count Substitutes
	</a>
</li>
{% endif %}
{% endblock %}

{% block body %}
<h2 align='center'>Users</h2>
<table border='2' align='center'>
	<col width='50'>
	<col width='150'>
	<col width='100'>
	<tr>
		<th>Rank</th>
		<th>Name</th>
		<th>Points</th>
	</tr>
	{% for user in users %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ user.user.first_name }}</td>
			<td>{{ user.points|floatformat:2 }}</td>
		</tr>
	{% endfor %}
</ul>
</table>
{% endblock %}